{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户注册</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" /> 
    <link rel="stylesheet"  href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"  href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet"  href="{% static 'login/fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet"  href="{% static 'login/css/util.css' %}">
    <link rel="stylesheet"  href="{% static 'login/css/main.css' %}">
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('/static/login/images/bg-01.jpg');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form" method="post" action="{% url 'modify_pwd' %}">

                    <span class="login100-form-title p-b-49">重置密码</span>
                    <div class="wrap-input100 validate-input" data-validate="请输入密码">
                        <span class="label-input100">新密码:</span>
                        <input class="input100" type="password" name="password" placeholder="请输入密码">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                        
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="请输入密码">
                        <span class="label-input100">确认密码:</span>
                        <input class="input100" type="password" name="confirm_password" placeholder="请输入密码">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                        <input type="hidden" name="email" value="{{ email }}">
                    </div>
                        <span style="color:red;margin 10px 5px;">
                            {{ err_msg }}
                        </span>
                    <div class="container-login100-form-btn" style="margin-top:20px;">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">提交</button>
                        </div>
                    </div>

                    <div class="txt1 text-center p-t-54 p-b-20">
                        <span>第三方登录</span>
                    </div>

                    <div class="flex-c-m">
                        <a href="#" class="login100-social-item bg1">
                            <i class="fa fa-wechat"></i>
                        </a>

                        <a href="#" class="login100-social-item bg2">
                            <i class="fa fa-qq"></i>
                        </a>

                        <a href="#" class="login100-social-item bg3">
                            <i class="fa fa-weibo"></i>
                        </a>
                    </div>

                    <div class="flex-col-c p-t-25">
                        <a href="javascript:" class="txt2">立即注册</a>
                    </div>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
   <script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
   <script src="{% static 'login/js/main.js' %}"></script>
  
</body>

</html>